@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'poppins', sans-serif; */
}

.con {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #35373a;
    height: 100vh;
    background: url("~/img/doc.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.convalue {
    border-radius: 8px;
    /* display: flex; */
    /* height: 550px; */
    /* align-items: center; */
    /* justify-content: center; */
    background-color: #fff;
    /* backdrop-filter: blur(5px); */
    /* border: 2px solid #333; */
    width: 50%;
    margin: auto;
    margin-top: 120px;
    padding: 10px 30px;
}

.groupe {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.groupe input {
    width: 70%;
    padding: 10px 20px;
    border: 1px solid#333;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
}

.groupe input:focus {
    border: 1px solid #333;
}

.groupe label {
    display: block;
    margin-bottom: 4px;
    font-weight: 700;
    width: 30%;
    font-family: 'Poppins';
    /* user-select: none; */
}

button {
    /* padding: 12px 20px; */
    height: 42px;
    margin: 32px auto;
    border: none;
    border-radius: 8px;
    background-color: rgb(76, 76, 243);
    font-weight: 600;
    cursor: pointer;
    user-select: none;
    display: block;
    width: 100%;
    letter-spacing: 1.5px;
    font-family: 'Poppins';
    transition: .2s;
}

button:hover {
    opacity: .9;
    color: #fff;
}

span {
    color: red;
    margin-left: 4px;
}

@media screen and (max-width: 660px) {
    .convalue {
        width: 70%;
    }

    button {
        width: 100%;
    }

}

@media screen and (max-width: 480px) {
    .convalue {
        width: 90%;
        margin: auto;

    }

    button {
        width: 90%;
        margin: 12px auto;
    }

}