* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* /////////////////////////////////////// */
main {
padding-top: 80px;
}

h1 {
    text-align: center;
    color: blue;
    font-weight: 700;
    font-size: 3em;
    margin-bottom: 30px;
}

.addcomment {
    width: 90%;
    margin: auto;
}

.addcomment label {
    display: block;
    margin-bottom: 14px;
    user-select: none;
    font-size: 1.5em ;
    font-weight: 700;
}
.addcomment label span {
    color: blue;
}
.addcomment select,input {
    width: 100%;
    margin-bottom: 20px;
    /* height: 32px; */
    padding: 12px 16px;
    outline: none;
    border-radius: 6px;
    font-size: 18px;
}

.addcomment textarea {
    width: 100%;
    display: block;
    margin: 18px 0;
    font-size: 18px;
    padding: 12px;
}

.addcomment button{
    padding: 12px 22px;
    border: none;
    border-radius: 8px;
    background-color: rgb(80, 80, 247);
    font-size: 1.02em;
    font-weight: 600;
    display: block;
    cursor: pointer;
    transition: .16s;
}

.addcomment button:hover {
    color: #fff;
    background-color: rgb(38, 38, 233);

}

/* /////////////////////////////// */
/* .commentscon {
    /* background-color: rgb(235, 234, 240); */
    /* user-select: none; */


.commentscon .commentvalue {
    padding: 70px 0 ;
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 16px;
    /* background-color: rgba(22, 115, 247, 0.125); */
    /* padding: 5px; */
}

.commentscon .commentvalue .comment {
    width: 31%;
    padding: 12px;
    margin-bottom: 16px;
    background-color: #fff;
    border-radius: 8px;
    /* font-size: 1.2em; */
    font-weight: 600;
    box-shadow: 3px 4px 14px black;
}

.commentscon .commentvalue .comment .user {
    width: 100%;
    margin-bottom: 6px;
}

.commentscon .commentvalue .comment .user div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 4px;

}

.commentscon .commentvalue .comment .user input {
    border: none;
    outline: none;
    width: 45%;
    /* display: block; */
    /* margin-left: 4px; */
}

.commentscon a {
    display: block;
    text-decoration: none;
    margin: auto;
    width: fit-content;
    font-size: 1.3em;
    padding-bottom: 8px;
    transition: .2s;
}

.commentscon a:hover {
    color: blue;
}

@media screen and (max-width: 800px) {
    .commentscon .commentvalue .comment {
        width: 45%;
        margin: auto auto 16px auto;
    }

    .commentscon .commentvalue .comment .user input {
        width: 45%;
    }

}
@media screen and (max-width: 550px) {
    .commentscon .commentvalue .comment {
        margin: auto auto 16px auto;
        width: 90%;
    }
}