@model Doctor 
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Doctor ";
    if (TempData["name"] != null)
    {
        Layout = "../Shared/_login.cshtml";
    }
}
@section Styles {
    <link rel="stylesheet" href="~/css/docc.css" />
}


<div class="lo"></div>
<picture><img src="~/img/@Model.Dr_picture" alt=""></picture>
<div class="con">
    <h1>personal information</h1>
    <div class="groupe">
        <h2>Name</h2><input type="text" readonly value="@String.Format($"{Model.Fname} {Model.Lname}")">
    </div>

    <div class="groupe">
        <h2>email</h2> <input type="email" readonly asp-for="Email" >
    </div>
    <div class="groupe">
        <h2>Phone</h2><input type="tel" readonly asp-for="Phone" >
    </div>
    <button> <a asp-controller="Doctor" asp-action="MyTickets" asp-route-D_ID="@Model.Id"> My Tickets</a></button>
    <button><a asp-controller="Doctor" asp-action="AddAdmin" asp-route-D_ID="@Model.Id">Add Admin</a></button>
    <button> <a asp-controller="Doctor" asp-action="Messages" asp-route-D_ID="@Model.Id"> Messages</a></button>
    <br>

</div>
<button class="btnn"> <a asp-controller="Home" asp-action="Logout"> Log Out</a></button>
